.app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 50px;
}

.input-field {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  position: relative;
}

.input-field button {
  text-align: center;
  background-color: lightgrey;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
  align-self: center;
  position: absolute;
  left: 400px;
}

.input-field button:hover {
  background-color: #dbdbdb;
}

.app > button {
  padding: 10px;
  border-radius: 5px;
  background-color: #cdf0e8;
  margin-bottom: 20px;
}

.app > button:hover {
  background-color: #b8d8d0;
}

.loading {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-align: center;
  font-size: 50px;
  color: #b8d8d0;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result {
  margin-bottom: 20px;
}

.preview {
  font-size: 12px;
}
