.display {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  border: 4px solid lightgrey;
  border-radius: 8px;
  width: 400px;
  height: 120px;
  overflow: hidden;
}

.display > span {
  color: #545454;
}

.expression {
  margin: 0 5px 0 5px;
}

.derivative {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.derivative span:last-of-type {
  border-top: 1px solid black;
}

.area-integral {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.integral {
  font-size: 30px;
}

.arcsin, .arccos, .arctan {
  line-height: 4;
}

.area, .derive, .integrate {
  align-items: center;
}
